.settings__setting {
    padding: 20px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__setting i {
    opacity: 0.8;
    margin-right: 20px;    
    font-size: 22px;
}

.settings__setting-column:last-child {
    opacity: 0.5;
}

.settings__setting:last-child {
    border-bottom: none;
}
.settings-list--list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px 0px;
    margin-bottom: 20px;
    width: 100%; 
}