.body-setting {
    background-color: #f6f6f6;
}
.main-setting {
    padding: 0px;
    margin-top: 100px;
}

.user-componet--settings {
    padding: 10px 30px;
    margin: 0px;
    background-color: white;
    
}
.settings__setting {
    padding: 10px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.settings__setting .settings__setting-column:first-child i {
    color: white;
    opacity: 0.8;
    margin-right: 20px;    
    font-size: 22px;
    padding: 10px;
    border-radius: 15px;
}

.settings__setting-column:last-child {
    opacity: 0.5;
}

.settings__setting:last-child {
    border-bottom: none;
}

.settings-list--bar {
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
    padding: 25px 0px;
    background-color: #f2f1f7;
    /* margin-bottom: 20px; */
    width: 100%;    
}

.settings__setting__themes i {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 12px;
}

.settings__setting__kokoaLab i{
    
    background-color: #534fdc;
}
.settings__setting__version i {
    background-color: #909398;
}
.settings__setting__notices i {
    background-color: #e00;
    font-size: 20px;;
}
.settings__setting__notifications i,
.settings__setting__privacy i{
    background-color: #e00;
}

.settings__setting__display i {
    background-color: #007bff;
    font-size: 19px;
}
.settings__setting__friends i, 
.settings__setting__chats i {
    background-color: #58e66f;
}
.settings__setting__cell i {
    background-color: #49ee3b;
}

.settings-list--bar:first-child {
    background-color: #f6f6f6;
    padding-top: 0px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

@keyframes boxShadow {
    from {
        transform: none;
        box-shadow: none;
    }
    to {
        transform: scale(1.1);
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2); 
    }
}
.settings__setting:hover {
    cursor: pointer;
    animation: boxShadow 0.1s ease forwards;
}
.settings-list--bar:first-child div {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
    background-color: #e3e2e7;
    border-radius: 10px;
}
.settings-list--bar:first-child i {
    margin-left: 10px;
    margin-right: 10px;
    color: #8c8c8c;
}
.settings-list--bar:first-child form {
    width: 90%;
}
.settings-list--bar:first-child input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #e3e2e7;
}