.alt-header {
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes pointBack {
    0% {
        transform: none;
        color: rgba(0, 0, 0, 0.7);
    }
    50% {
        transform: scale(1.2);
        color: rgba(0, 0, 0, 1);
    }
    100% {
        transform: none;
        color: rgba(0, 0, 0, 0.7);
    }
}
.alt-header__column i:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    animation: pointBack 1s ease-in-out infinite;
}
.alt-header__column {
    width: 33%;
}

.alt-header__title {
    font-size: 28px;
    font-weight: 600;
}

.alt-header__column:first-child {
    margin-right: auto;
}

.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column:last-child {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.alt-header__column span:last-child {
    margin-left: 20px;
}