.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #e5e5e5;
    padding: 10px 30px 25px 30px;
    box-sizing: border-box;
    border-top:1px solid rgba(0, 0, 0, 0.2);

}
.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: #a4a4a4;
    position: relative;
    font-size: 20px;
}
.nav__link__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav__link__div span{
    font-size: 15px;
    margin-top: 10px;
}

@keyframes notificationAnimation {
    0% {
        transform: none;
    }
    25% {
        transform: translateY(-5px) rotateY(50deg);
    }
    75% {
        transform: translateY(-5px) rotateY(-50deg);
    }
     100% {
        transform: none;
     }
}

.nav__notification {
    position: absolute;
    left: 30px;
    bottom: -15px;
    animation: notificationAnimation 2s ease-in-out infinite;
}

@keyframes appearBtnAnimation {
    from {
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.nav__btn {
    transform: translateY(80px);
    opacity: 0;
    animation: appearBtnAnimation 0.5s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
    animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
    animation-delay: 0.4s;
}
.nav__btn:nth-child(4) {
    animation-delay: 0.6s;
}
.nav__btn:last-child {
    animation-delay: 0.8s;
}

.nav__link__new {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: tomato;
    position: absolute;
    top: -5px;
    left: 40px;
}

.error-position--padding {
    height: 80px;
}

.friendsBody .nav__btn:nth-child(1) i {
    color: #1884fe;
}
.chatsBody .nav__btn:nth-child(2) i {
    color: #1884fe;
}
.findBody .nav__btn:nth-child(3) i {
    color: #1884fe;
}
.moreBody .nav__btn:nth-child(4) i {
    color: #1884fe;
}